body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
header {
  background: url(./images/ui-bg3.jpg);
  width: 100%;
  height: 10%;
}

.title {
  color: rgb(255, 255, 255);
  padding-top: 21px;
  padding-bottom: 20px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 23px;
}

h1 {
  color: rgb(247, 164, 88);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}

h2 {
  color: rgb(247, 164, 88);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

h3{
  color: rgb(247, 164, 88);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
} 

.nav-ul {
    background: url(./images/ui-bg3.jpg);
    list-style-type: none;
    height: 20px;
    padding: 15px;
    overflow: hidden;
    padding-bottom: 13px;
    /* border: 1.5px solid #000000; */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  
  .nav-li {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-li-a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 50px;
  }

  .icon {
    width: 28px;
    height: 27px;
    padding-left: 25px;
    padding-top: -1px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.button1 {
  background: url(./images/ui-bg3.jpg);
  position: relative;
  color: rgb(255, 255, 255);
  height: 35px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
  border-color: white;
  border-style: solid;
}
